<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
   <appender name = "CONSOLE" class = "ch.qos.logback.core.ConsoleAppender">
      <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
   </appender>
   
   <appender name = "FILE" class = "ch.qos.logback.core.FileAppender">
      <File>log/log.txt</File>
      <encoder>
         <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
         <charset>utf8</charset>
      </encoder>
   </appender>
   <root level = "INFO">
      <appender-ref ref = "CONSOLE"/> 
      <appender-ref ref = "FILE"/>
   </root>
</configuration>